/02.LaziShop/04.LShApi/lazi.api/build/
/03.LaziSite/05.LStPresentation/lazisite.ui/CMS/build/
/02.LaziShop/03.LShBus/web.bus/build/
/02.LaziShop/03.LShBus/web.bus/dist/
/03.LaziSite/05.LStPresentation/lazisite.ui/JsfJpa/nbproject/private/
/03.LaziSite/05.LStPresentation/lazisite.ui/JsfJpa/build/
/03.LaziSite/05.LStPresentation/lazisite.ui/JSF_Login_Logout/target/
/03.LaziSite/05.LStPresentation/lazisite.ui/CMS/dist/
/03.LaziSite/05.LStPresentation/lazisite.ui/WebApplication1/nbproject/private/
/03.LaziSite/05.LStPresentation/lazisite.ui/WebApplication1/build/
/03.LaziSite/05.LStPresentation/lazisite.ui/OTV_JSF_Spring_Hibernate-master/target/
/03.LaziSite/05.LStPresentation/lazisite.ui/JavaServerFaces/target/
/03.LaziSite/05.LStPresentation/lazisite.ui/laziCMSApi/target/
/03.LaziSite/05.LStPresentation/lazisite.ui/LaziCMSAPI/nbproject/private/
/03.LaziSite/05.LStPresentation/lazisite.ui/LaziCMSAPI/target/
/03.LaziSite/05.LStPresentation/lazisite.ui/Lazi_cms_web/nbproject/private/
/03.LaziSite/05.LStPresentation/lazisite.ui/Lazi_cms_web/build/
/02.LaziShop/02.LShDao/web.dao/dist/